.wrapper {
  background-color: rgb(197, 235, 241);
  height: 100%;
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.photo {
  background-color: rgba(231, 251, 251, 0.693);
  width: 55%;
  height: 500px;
  margin: 10px;
  text-align: right;
  position: relative;
  margin-top: 100px;
}


.box {
  background-color: rgba(231, 251, 251, 0.693);
  display: flex;
  flex-direction: column;
  height: 250px;
  transition: all 3s ease;
}

.memory-photo {
  height: 90%;
  width: 70%;
  position: absolute;
  top: 20px;
  left: 10px;
  /* opacity: 0;
  transform: translateX(20px);
  animation: fadein 1s  ease-in forwards; */
}

.memory-photo1 {
  width: 50%;
  height: 70%;
  /* opacity: 0; */
  /* transform: translateX(20px); */
  /* animation: fadein 1s  ease-in forwards; */
}
@keyframes fadein{ 
  to{
    opacity: 0.7;
    transform: translateX(0);
  }
}

.memory-photo2 {
  width: 50%;
  height: 70%;
}

.memory-photo3{
  width: 70%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50px;
}



.profile-box {
  width: 300px;
  font-size: 16px;
  margin-left: 150px;
}

.personal-info {
  line-height: 12px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
}

.profile-info {
  /* text-decoration: underline dotted blue;
  border-bottom: 1px dotted blue; */
  /* padding-bottom: 8px; */
}

.profile-text {
  /* text-align: left; */
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}

.address {
  display: flex;
  justify-content: space-around;
  margin-left: 35px;
}

.address-info {
  
}


button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  left: 10%;
}

.contact-box {
  background-color: rgb(239, 250, 249);
  width: 500px;
  height: 400px;
  margin: 10px;
  margin-top: 100px;
}

.hyuga {
  width: 50%;
  height: 40%
}

.hobbies {
  text-align: center;
}